.image{
    display: flex;
    align-items: center; /* vertical */
    justify-content: center; /* horizontal */
    margin: 0 auto;
}

.form-Avatar-i {
    font-size: 120px;
    text-align: center;
    display: block;
}


.panel-Avatar-i {
    font-size: 40px;
    display: block;
    position: relative;
    margin-top: -5px;
}


